@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4 h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #ffffff;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  font-family: Gilroy;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* --------------------------------------- */

._container {
  max-width: 1296px;
  margin: 0px auto;
  padding: 0px 25px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ----------HEADER-------------------- */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 30px 0px;
}

.header__menu {
}

.menu {
}

.menu__list {
  display: flex;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  color: inherit;
  line-height: 140%;
}

.header__social {
}

.header__icon {
}

.header__icon:first-child {
  margin-right: 20px;
}

/* ------------PAGE-------------------- */

.page {
}

.page__main-block {
}

/* ------------MAIN-BLOCK----------------- */

.main-block {
  position: relative;
  color: #FFFFFF;
}

.main-block__content {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-block__title {
  margin: 0px 0px 60px 0px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}

.main-block__video {
  display: flex;
  align-items: center;
}

.main-block__video h4 {
  font-weight: 600;
  font-size: 18px;
}

.main-block__video-link {
  margin-right: 30px;
}

.main-block__play {

}

.main-block__links {
}

.links {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  gap: 12px;
}

.links__item {
  flex: 0 1 25%;
  background-color: #8D86C9;

}

.links__title {
  margin: 35px 0px 17px 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.links__name {
  margin: 0px 35px 40px 35px;
}

.links__link {
  margin-right: 35px;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

.links__svg {
}

.main-block__background {
  position: absolute;
  left: 0;
  top: 0;
}

.main-block__image {
  width: 100vw;
  height: 100vh;
}

/* -----COURTS-------- */

.page__courts {
  padding-top: 150px;
  color: #FFFFFF;
}

.courts {
}

.courts__content {
  display: flex;
  justify-content: space-between;
}

.courts__item {
  position: relative;
}

.court__image {
  padding: 25px 20px;
  border: 1px solid #F7ECE1;
}

.courts__title {
  position: absolute;
  z-index: 3 ;
  display: inline-block;
  bottom: 65px;
  right: 0;
  left: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  text-align: center;
}

/* ---------ABOUT @template@---------- */

.page__about {
  padding-top: 150px;
}

.about-main {
}

.about__content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about__image {
  position: absolute;
  left: 110px;
}

.about__description {
  margin-right: 110px;
  padding: 70px 60px 84px 146px;
  background-color: #F7ECE1;
  color: #333333;
}

.description__content {
  max-width: 430px;
}

.description__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

.description__text {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.description__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
}

.description__highlights {
}

.description__list {
}

.description__item {
  margin-left: 15px;
  padding-left: 15px;
  list-style: url(../img/about/list-style.svg);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.description__item:not(:last-child) {
  margin-bottom: 20px;
}

/* -----COACHES------- */

.page__coaches {
  padding-top: 150px;
}

.coaches {
}

.coaches__container {
}

.coaches__content {
}

.coaches__header {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coaches__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
}

.coaches__arrows {
  display: flex;
  gap: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 0 !important;
  position: static !important;
  width: 45px !important;
  height: 45px !important;
  background: #8D86C9;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-image: url(../img/coaches/arrow-left.svg);
}

.swiper-button-next {
  background-image: url(../img/coaches/arrow-right.svg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}

.coaches__cards {
  display: flex;
}

.coaches__card {
  flex: 0 1 16,667%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.coaches__img {
  
}

.coaches__img img {
  margin-bottom: 25px;
  text-align: center;
  padding: 0px 15px;
  border: 1px solid #F7ECE1;
}

.coaches__name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
}

.coaches__about {
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}